// Map View Widget: hide number of selected panel from slection tool
.exbmap-ui-tool-panel {
  .jimu-btn {
    display: none;
  }
}

// Coordinates widget: hide the CRS selector to simplify interface
.jimu-widget-coordinates {
    button[title="Select the output coordinate system"] {
      display:none
    }
}

// Search Tips Panel: place panel below modal on initial open
.modal-open > .floating-panel {
  z-index: 999 !important;
}
