// --------------
// Hide elements
// --------------

// Map View Widget: hide number of selected panel from slection tool
.exbmap-ui-tool-panel {
  .jimu-btn {
    display: none;
  }
}

// Coordinates widget: hide the CRS selector to simplify interface
.jimu-widget-coordinates {
    button[title="Select the output coordinate system"] {
      display:none
    }
}



// ---------------
// Modify Elements
// ---------------

// Search Tips Panel: place panel below modal on initial open
.modal-open > .floating-panel {
  z-index: 999 !important;
}

// Expression Hints
%search-tips {
  .form-title div {
    display: none;
  }
  .sql-expression-hint {
    display: none;
  }
  &::after {
    visibility: visible;
    white-space: pre-wrap;
    display: block;
    padding: 0.5rem;
    font-size: var(--calcite-font-size--2);
    color: var(--dark-500);
    background: var(--calcite-ui-background);
  }
}

  // Address
  div[aria-label='"Street" portion of the address ONLY'] {
    @extend %search-tips;
    &::after {
      content: "Street types are fully spelled out (i.e. ROAD, STREET, CROSSING, etc.)\a\aHighway annotation (county, state and U.S.) varies from one county to the next.  Highway annotation has been standardized for the data in this application and will be in one of the following formats: CTH, STH, USH.";
    }

    // Show label
    .form-title div {
      display: initial;
    }
  }

  // Owner Name
  div[aria-label='Owner Name'] {
    @extend %search-tips;
    &::after {
      content: 'You can type the percent symbol “%” as a wildcard for elements of the search you do not know, like an unknown middle initial.\a\a e.g., to search for JOHN SMITH with an unknown middle initial, type JOHN % SMITH\a\a e.g., to search for JOHN R & SUE M SMITH, type JOHN % SUE % SMITH\a\a The percent "%" wildcard means that any number of characters are acceptable in its place while the underscore "_" wildcard will represent one and only one character in the query.';
    }
  }

  // Parcel ID
  div[aria-label='ParcelID'] {
    @extend %search-tips;
    &::after {
      content: 'For parcel ID search to yield results in this statewide database, you will need to search for the parcel ID EXACTLY as it appears in the native (county) data. \a\a Parcel ID can take any of the following formats: 001-0122-00000, 0000000000000, 10-00000, 110.0011.001, 01 11 00 1, 001-111.A, 001 1111.002 \a\a If you know the general area in which you are searching for a parcel, try clicking on a few parcels in that area to see how the parcel IDs are formatted. \a\a Parcel ID format varies across local governments. In this database, parcel ID can be formatted with special characters like dashes, periods, and spaces. To locate a particular parcel in a different database, you may need to either include or exclude special characters like dashes. End-users can find an explanation of parcel ID formats from the Wisconsin Department of Revenue\'s webpage on State of Wisconsin Municipality Parcel Formats. \a\a Duplicate parcel IDs can exist across multiple counties. If your search yields multiple records, you will need to select the record that applies to your county of interest, by scrolling down to it in the search results box and clicking it.';
    }
  }