#layer-list-opacity-slider {

  calcite-list-item {
    --tw-shadow: none;
    --tw-shadow-colored: none;
    box-shadow: none;
    margin-block-start: 0;
  }

  calcite-action.esri-layer-list__visible-toggle {
    display: none;
  }

  calcite-list-item[unavailable] {
    display: none;
  }

}